/*
* @Author: Administrator
* @Date:   2017-04-27 16:13:05
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-05 17:40:31
*/
/* 公共的精灵图类 */
.sprite-bg:before {
	content: '';
	background: url(../images/icons/jd-sprites.png)  no-repeat;	
	/* 这里一定不能写50%  因为这个百分比参照的是当前盒子的宽度和高度 */
	-webkit-background-size: 200px;
	background-size: 200px;
}
/* 公共的水平垂直居中类 */
.center-xy:before,.center-self-xy {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
/* 垂直集中类 */
.center-y:before,.center-self-y {
	position: absolute;
	top: 50%;
	transform :translateY(-50%);
}
/* 水平居中类 */
.center-x:before,.center-self-x {
	position: absolute;
	left: 50%;
	transform :translateX(-50%);
}
/* 边框类 */
.line-right:before {
	content: '';
	width: 0;
	height: 100%;
	border-right: 1px solid #ccc;
	position: absolute;
	right: 0;
	top: 0;
}
/* 公共的checkbox类 */
.checkbox-wrap {
	width: 40px;
	height: 35px;
	position: relative;
}
.checkbox-wrap:before {
	width: 20px;
    height: 20px;
    background-position: -180px -90px;
}
.checkbox-wrap.checked:before {
	background-position: -180px -70px;
}
.checkbox-wrap input[type="checkbox"] {
	width: 100%;
	height: 100%;
	opacity: 0.2;
}
/* 公共的模态框 */
.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	display: none;
}
.modal-cont {
	width: 80%;
	height: 160px;
	background-color: #fff;
	border-radius: 5px;
	padding:10px;
	box-sizing:border-box;
}
.modal-t {
	height: 85px;
	text-align: center;
	position: relative;
}
.modal-t  p {
	width: 100%;
}
.modal-b {
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
.modal-b button {
	width: 45%;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}
.modal-b .sure {
	background-color: #D8505C;
	color: #fff;
}
/* 公共的头部 */
.common-header {
	height: 44px;
	border-bottom: 1px solid #ccc;
	background: linear-gradient(to bottom,#fff,#e0e0e0);
	position: fixed;
	top: 0;
	max-width: 640px;
	min-width: 320px;
}
.common-header .left {
	width: 40px;
	height: 44px;
	position: relative;
}
.common-header .left:before {
	width: 13px;
	height: 20px;
	background-position: -24px 0;
}
.common-header .right {
	height: 44px;
	width: 42px;
	position: relative;
}
.common-header .right:before {
	width: 18px;
    height: 19px;
    background-position: -61px 0;
}
.common-header .center {
	height: 44px;
	margin: 0 42px 0 40px;
}
.common-header .center input[type="search"] {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 7px;
	text-indent: 5px;
	outline: none;
}
.common-header .center > h3 {
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	font-weight: 400;
}
.main {
	margin-top: 45px;
}